<% include header %>
<div id="paipian" class="container">
  <div class="row">
    <div class="col-md-3">
      <div id="ppleft" class="list-group">
        <a href="/paipian" class="list-group-item active">单日排片</a>
        <a href="/paipiantrend" class="list-group-item ">趋势分析</a>
      </div>
    </div>
    <div class="col-md-9">
      <ul class="nav nav-pills">
        <li class="active"><a href="#">全国排片</a></li>
        <li><a href="#">地域排片</a></li>
        <li><a href="#">一线城市</a></li>
        <li><a href="#">二线城市</a></li>
        <li><a href="#">三线城市</a></li>
      </ul>
      <div id="future">
        <a lass="active" href="#">
          <span>今天</span>
        </a>
        <a c href="#">
          <span>明天</span>
        </a>
        <a href="#">
          <span>后天</span>
        </a>
      </div>
      <div class="row pp-top-contaner">
        <div class="col-md-6 col-sm-12">
          <div id="ppcanvas-container">
            <canvas id="ppcount" width="300" height="300" style="width: 300px;height:300px;"></canvas>
          </div>
        </div>
        <div id="lminfo" class="col-md-3 col-sm-6">
        </div>
        <div id="rminfo" class="col-md-3 col-sm-6">
        </div>
      </div>
      <div class="row pp-top-contaner">
        <%= ulPaipian.data1[0].moviename %>
        <table class="table">

          <tr>
            <td></td>
            <td>总场次</td>
            <% ulPaipian.data1.forEach(function (item) { %>
            <td><%= item.moviename %></td>
            <% }) %>
          </tr>
          <tr>
            <td>全国</td>
            <td>
              <%=ulPaipian.data3[0].countrynum%>
              <p>
                100%
              </p>
            </td>
            <% ulPaipian.data1.forEach(function (item) { %>
            <td>
              <%= item.movienum %>
              <p>
                <%= item.Per_num %>%
              </p>
            </td>
            <% }) %>
          </tr>
          <tr>
            <td>认知指数</td>
            <td>
             ----
            </td>
            <% ulPaipian.data4.forEach(function (item) { %>
            <td>
              <%= item.MovieName %>
              <p>
                <%= item.RenZhiIndex %>%
              </p>
            </td>
            <% }) %>
          </tr><tr>
            <td>全国</td>
            <td>
              <%= ulPaipian.data3[0].countrynum %>
              <p>
                100%
              </p>
            </td>
            <% ulPaipian.data1.forEach(function (item) { %>
            <td>
              <%= item.movienum %>
              <p>
                <%= item.Per_num %>%
              </p>
            </td>
            <% }) %>
          </tr>
          <tr>
            <td>全国</td>
            <td>
              <%= ulPaipian.data3[0].countrynum %>
              <p>
                100%
              </p>
            </td>
            <% ulPaipian.data1.forEach(function (item) { %>
            <td>
              <%= item.movienum %>
              <p>
                <%= item.Per_num %>%
              </p>
            </td>
            <% }) %>
          </tr>

        </table>
      </div>
    </div>
  </div>
</div>
<script>
  var ctx = $('#ppcount').get(0).getContext('2d');
  $(function () {
    $.getJSON('/api', function (rev_data) {
      $.each(rev_data[0].data, function (idx, item) {
        if (idx > 4) {
          $('#rminfo').append('<p><span><span class="glyphicon glyphicon-cd"></span></span>&nbsp;&nbsp;&nbsp;' + item.label + '<span>' + item.value + '%</span></p>')
        } else {
          $('#lminfo').append('<p><span><span class="glyphicon glyphicon-cd"></span></span>&nbsp;&nbsp;&nbsp;' + item.label + '<span>' + item.value + '%</span></p>')
        }
      });
      new Chart(ctx).Doughnut(rev_data[0].data, {
        responsive: true, percentageInnerCutout: 70,
      });
    });
  })
</script>
<% include footer %>
