<% include header %>
<div class="col-md-10">
  <div id="navbar1" class="navbar-collapse collapse">
    <form class="navbar-form navbar-left" role="search">
      <ul class="nav navbar-nav">
        <li ><a href="/realtime">首页</a></li>
        <li><a href="/realtime">票房</a></li>
        <li class="active"><a href="/paipian">排片</a></li>
        <li><a href="#contact">中美</a></li>
        <li><a href="/newslist">资讯</a></li>
        <li><a href="/teleplay">电视</a></li>
        <li><a href="#contact">影库</a></li>
      </ul>
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
              </span>
        </div>
      </div>
    </form>
  </div><!--/.nav-collapse -->
</div>
</div>
</div>
</nav>
</div>
<div id="paipian" class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <a href="/paipian" class="list-group-item">单日排片</a>
        <a href="/paipiantrend" class="list-group-item  active">趋势分析</a>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          选择城市：<select name="dpcountry" class="dropdown" id="dpcountry">
            <option value="All" selected="selected">全国</option>
          </select>
        </div>
      </div>
      <div id="ppr-canvas-container " class="row pp-top-contaner">
        <div class="col-md-12 col-sm-12">
          <canvas id="pp-canvas-trend"></canvas>
        </div>
      </div>
      <div class="pp-top-contaner">
        <table class="table table-hover">
          <tr>
            <td></td>
            <% data1.forEach(function (item) { %>
            <td><%= item.sdate %></td>
            <% }) %>
          </tr>
          <tr>
            <td>全国</td>
            <% data1.forEach(function (item) { %>
            <td><%= item.num %></td>
            <% }) %>
          </tr>
          <% data3.forEach(function (item) { %>
          <tr>
            <td><%= item.moviename %></td>
            <% item.daymoives[0].forEach(function (dd) { %>
            <td>
              <%= dd.m_daysum %>
              <p><%= dd.m_dayrate %>%</p>
            </td>
            <% }) %>
          </tr>
          <% }) %>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  var ctx = $('#pp-canvas-trend').get(0).getContext('2d');
  lineChartData = {};
  lineChartData.labels = [];
  lineChartData.datasets = [];
  $(document).ready(function () {
    $.getJSON('/sapi', function (dd) {
      $.each(dd.data3, function (idx, item) {
        $('#dpcountry').append('<option value="' + item.id + '">' + item.name + '</option>');
      })
      $.getJSON('/ttrapi', function (rev) {
        tmpdata = []
        $.each(rev.data3[0].daymoives[0], function (idx, item) {
          lineChartData.labels.push(item.sdate);
          tmpdata.push(item.m_daysum)
        })
        lineChartData.datasets.push({
          label: rev.data3[0].moviename,
          fillColor: '#337ab7',
          strokeColor: "#337ab7",
          pointColor: "#337ab7",
          pointStrokeColor: "#337ab7",
          pointHighlightFill: "#337ab7",
          pointHighlightStroke: "#337ab7",
          data: tmpdata
        })
        console.log(lineChartData);
        new Chart(ctx).Line(lineChartData, {
          responsive: true,
          scaleFontSize : 14,
        });
      })

    });

//    lineChartData = {
//      labels : ["January","February","March","April","May","June","July"],
//      datasets : [
//        {
//          label: "My First dataset",
//          fillColor : "rgba(220,220,220,0.2)",
//          strokeColor : "rgba(220,220,220,1)",
//          pointColor : "rgba(220,220,220,1)",
//          pointStrokeColor : "#fff",
//          pointHighlightFill : "#fff",
//          pointHighlightStroke : "rgba(220,220,220,1)",
//          data :[]
//        },
//      ]
//    }

  })
</script>
<% include footer %>
